html, body, .main, .container, .row {
  height: 100%;
}

body {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/swirl_pattern.png);
}
* {
  border-radius: 0 !important;
}

.card-holder {
  height: 80%;
}

.card {
  height: 100%
}

.card-header {
  font-family: Anton;
  font-size: 3em;
  text-align: center;
}
